#### default behavior for non specified files
# '* eol=lf' seems to cause binary files to get corrupted
* text=auto
#### common
## documents
*.bibtex      text eol=lf diff=bibtex
*.doc          diff=astextplain
*.DOC          diff=astextplain
*.docx        diff=astextplain
*.DOCX        diff=astextplain
*.dot         diff=astextplain
*.DOT         diff=astextplain
*.rtf         diff=astextplain
*.RTF         diff=astextplain
*.pdf         diff=astextplain
*.PDF         diff=astextplain
*.adoc     text eol=lf
*.conf     text eol=lf
*.csv      text eol=lf
*.ini      text eol=lf
*.md       text eol=lf
*.mustache text eol=lf
*.sample   text eol=lf
*.sql      text eol=lf
*.tab      text eol=lf
*.tex      text eol=lf diff=tex
*.textile  text eol=lf
*.tsv      text eol=lf
*.txt      text eol=lf
## graphics
*.eps      binary
*.ico      binary
*.gif      binary
*.jpg      binary
*.jpeg     binary
*.png      binary
*.tif      binary
*.tiff     binary
# svg treated as an asset (binary) by default
*.svg      text eol=lf
## archives
*.7z       binary
*.gz       binary
*.tar      binary
*.tgz      binary
*.zip      binary
## serialization
*.json     text eol=lf
*.toml     text eol=lf
*.xml      text eol=lf
*.yaml     text eol=lf
*.yml      text eol=lf
#### scripts
## linux/unix
*.bash     text eol=lf
*.fish     text eol=lf
*.perl     text eol=lf
*.sh       text eol=lf
*.tcsh     text eol=lf
*.zsh      text eol=lf
## windows
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ahk      text eol=lf
# can be lf as ps1 can be cross platform
*.ps1      text eol=lf
#### c/c++
## src
*.c      text diff=c   eol=lf
*.cc     text diff=cpp eol=lf
*.cxx    text diff=cpp eol=lf
*.cpp    text diff=cpp eol=lf
*.c++    text diff=cpp eol=lf
*.hpp    text diff=cpp eol=lf
*.h      text diff=c   eol=lf
*.h++    text diff=cpp eol=lf
*.hh     text diff=cpp eol=lf
## compiled obj files
*.slo    binary
*.lo     binary
*.o      binary
*.obj    binary
## precompiled headers
*.gch    binary
*.pch    binary
## compiled dynamic libraries
*.so     binary
*.dylib  binary
*.dll    binary
## compiled static libraries
*.lai    binary
*.la     binary
*.a      binary
*.lib    binary
## executables
*.exe    binary
*.out    binary
*.app    binary
#### java
*.gradle        text eol=lf diff=java
*.gradle.kts    text eol=lf diff=java
*.java          text eol=lf diff=java
#### html etc
## src
*.css           text eol=lf diff=css
*.df            text eol=lf
*.htm           text eol=lf diff=html
*.html          text eol=lf diff=html
*.js            text eol=lf
*.jsp           text eol=lf
*.jspf          text eol=lf
*.jspx          text eol=lf
*.properties    text eol=lf
*.tld           text eol=lf
*.tag           text eol=lf
*.tagx          text eol=lf
*.xml           text eol=lf
## binary
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary
#### matlab # CAUTION: *.m also matches mathematica packages
## src
*.m             text eol=lf diff=matlab
*.mu            text eol=lf diff=matlab
## binary
*.p             binary
*.mex*          binary
*.fig           binary
*.mat           binary
*.mdl           binary
*.slx           binary
*.mdlp          binary
*.slxp          binary
*.sldd          binary
*.mltbx         binary
*.mlappinstall  binary
*.mlpkginstall  binary
*.mn            binary
#### python
## src
*.ipynb  text eol=lf
*.pxd    text eol=lf diff=python
*.py     text eol=lf diff=python
*.py3    text eol=lf diff=python
*.pyw    text eol=lf diff=python
*.pyx    text eol=lf diff=python
*.pyz    text eol=lf diff=python
## binary
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary
#### misc
## mouse utech
*.pfd    binary
## yugioh
*.dat      binary
*.ydk      text eol=lf
#### specific files
.clang-format   text eol=lf
.bashrc         text eol=lf
.bash_aliases   text eol=lf
.netrc          text eol=lf
LICENSE         text eol=lf
#### git specifics
.gitattributes   text eol=lf export-ignore
.github          text eol=lf export-ignore
.gitignore       text eol=lf export-ignore
.gitmodules      text eol=lf export-ignore
*.diff           -text
*.patch          -text
